* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(253, 251, 251);
}

#cabecalho {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: green;
  color: white;
  padding: 20px 10px;
}

#titulo {
  display: flex;
  justify-content: space-around;
  padding: 10px 20px;
  font-size: larger;
  font-family: Potta One, cursive;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.links a {
  margin: 1px 10px;
  text-decoration: none;
  color: white;
}

.links li {
  list-style: none;
  font-family: Potta One, cursive;
}

.fotonome {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
}

img {
  margin-top: 150px;
  height: 200px;
  width: 200px;
}

.licoes {
  display: flex;
  flex-direction: column;
  margin: 40px;
  justify-content: space-between;
  width: 20%;
}

.listas {
  display: flex;
  justify-content: space-around;
}

#titulo2 {
  display: flex;
  justify-content: flex-start;
}

#licoes_aprendidas {
  display: flex;
  flex-direction: column;
}

.textos {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-style: dashed;
  line-height: normal;
}

#rodape {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

